
/*My modification to make text visible*/
form * {
  color: #242424;
  margin-bottom: 0.1rem;
}
/*To make it look better*/
.form__part {
  margin-bottom: 0.5rem;
}
input[readonly] {
  border: none;
  background: transparent;
}

input:not([readonly]),
textarea,
select {
  font-size: 0.95rem;
  color: #6c6c6c;
  padding: 0.3rem 0.55rem;
  border: 1px solid #bebebe;
  border-radius: 0.25rem;
  /* width: 100%;  */
  outline: 0;
  transition: 0.2s;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff; */
}
/*Remove sumbols of checkbocses*/
/* input[type="radio"],
input[type="checkbox"] {
  display: none;
} */
/*Labels configuration*/
input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 0.8rem;
  padding-left: 1.15rem;
  position: relative;
}
/*Draw radiobuttons/checkboxes */
input[type="radio"],
 /* + label::before, */
input[type="checkbox"] 
/* + label::before */
 {
  /* content: ""; */
  /* position: absolute; */
  /* left: 0; */
  /* top: 0.05rem; */
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #000;
}
/*Now radiobuttn is a cycle*/
input[type="radio"] {
  border-radius: 100%;
}
input[type="textarea"] {
  height: 12.5rem;
  resize: none;
}
input[type="file"] {
  display: inline-block;
  z-index: 10;
  opacity: 1;
  background: #fff;
  /* position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  z-index: 1;
  box-shadow: none;
  border: 0; */
}
/* input[type="file"] + label {
  font-size: 0.9rem;
  color: #90d23d;
  position: relative;
  border: 1px solid #90d23d;
  padding: 0.5rem;
  z-index: 2;
  background: #fff;
  width: 80%;
  display: block;
  cursor: pointer;
  border-radius: 0.25rem;
} */
/*Submit modification*/
input[type="button"],
button {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.order-form__container {
  display: none;
  position: fixed;
  top: 1rem;
  right: calc((100% - 51.5rem)/2);
  width: 51.5rem;
  margin: 0 auto; 
  background: rgba(256, 256, 256, 0.9);
  border: 2px solid black;
  border-radius: 2rem;
  z-index: 10;
}
/* Order form */
.order-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
.form__part:nth-child(2n-1) {
  grid-column: 2;
}
.form__part:nth-child(2n) {
  grid-column: 1;
}
.form__seats,
.order-form__order-btn {
  grid-column: 1 / span 2;
}
.order-form__order-btn {
  width: 60%;
  margin: 1rem auto;
  border-radius: 0.75rem;
  border-width: 0;
  background-color: #a3cc40;
  font-size: 1.4rem;
}
.order-form__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  border: none;
  background: #a3cc40;
}
.order-form input {
  max-width: 70%;
}
.order-form__seats {
  display: grid;  
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.2rem;
}
.centered {
  display: block;
  width: 100%;
  text-align: center;
}
.placeDiv {
  padding: 1rem;
  text-align: center;
  border-radius: 25%;
  background-color: #a3cc40;
}
.newBronnedPlace {
  background-color: palevioletred;
}
.bronnedPlace {
  background-color: #ffa500;
  cursor: disabled;
}
.hooveredPlace {
  background-color: #4b4d4f;
  cursor: pointer;
}
.form__error-msg {
  font-size: 0.8rem;
  color: red;
}