form {
  width: 20rem; /*Isn't it too small?*/
}
/*My modification to make text visible*/
form * {
  color: #242424;
  margin-bottom: 0.5rem;
}
/*To make it look better*/
.form__part {
  margin-bottom: 1rem;
}
input,
textarea,
select {
  font-size: 0.95rem;
  color: #6c6c6c;
  padding: 0.75rem 0.55rem;
  border: 1px solid #bebebe;
  border-radius: 0.25rem;
  width: 100%;
  outline: 0;
  transition: 0.2s;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff; */
}
/*Remove sumbols of checkbocses*/
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
/*Labels configuration*/
input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 0.8rem;
  padding-left: 1.15rem;
  position: relative;
}
/*Draw radiobuttons/checkboxes */
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.05rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #000;
}
/*Now radiobuttn is a cycle*/
input[type="radio"] + label::before {
  border-radius: 100%;
}
input[type="textarea"] {
  height: 12.5rem;
  resize: none;
}
input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  z-index: 1;
  box-shadow: none;
  border: 0;
}
input[type="file"] + label {
  font-size: 0.9rem;
  color: #90d23d;
  position: relative;
  border: 1px solid #90d23d;
  padding: 0.75rem;
  z-index: 2;
  background: #fff;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 0.25rem;
}
/*Submit modification*/
input[type="button"],
button {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
