@media (min-width: 1800px) {
  html {
    font-size: 20px; /*Otherwise - looks ugly*/
  }
}
@media (max-width: 1300px) {
    p {
        font-size: 0.9rem;
        line-height: 1.3em; 
    }
}
@media (max-width: 1000px) {
  html { /*Mardins decrease*/
      font-size: 15px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 1.76vw; 
  }
  .header__first-line_right * {
    font-weight: 300;
    font-size: 0.9rem;
  }
  .welcome {
    width: 32rem;
  }
  .benefits {
    width: 90vw;
  }
  .benefits-container {
    width: 90vw;
  }
  .benefits__benefit{
    flex-basis: 30vw;
  }
  table {
    min-height: 50vh;
  }
  .present__text {
    width: 40rem;
  }
  .films__text {
    width: 80%;
  }
  .films__text p {
    line-height: 1.3rem;
  }
  .film__social-icon {
    width: 1.8rem;
  }
  .film__social-icon svg {
    width: 2rem;
    height: 2rem;
  }
  .contacts__text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2em;
  }
}
/*Mobile version starts*/
@media (max-width: 768px) {
  .header__location-box {
    display: none;
  }
  header .header__menu-button {
    display: flex;
    padding: 0.4rem;
    flex-direction: column;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #fff;
  }
  .header__menu-button hr {
    width: 2.7rem; /*3.5-0.8=2.7*/
    height: 2px;
    background-color: #000;
    border: 1px solid #000;
    margin-bottom: 0.1rem;
  }
  .header__first-line_right li {
    display: none;  
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  .timetable td {
    padding-left: 35vw;
    font-size: 1.5rem;
    width: 90vw;
    max-width: 90vw;
    text-align: left;
    position: relative;
    background-image: linear-gradient( #a3cc40, #a3cc40);
    background-repeat: no-repeat;
    background-size: 32vw 100%;
  }
  th, 
  td:nth-child(3),
  td:nth-child(4){
    display: none;
    border: none;
    padding: none;
    content: "";
  }
  .timetable tr:nth-child(2n+1) td {
    background-image: linear-gradient( #75ad31, #75ad31);
  }
  .timetable td:before {
    position: absolute;
    width: 35vw;
    padding-left: 2rem;
    left: 0;
    font-size: 1.5rem;
    text-align: left;
  }
  .timetable td:nth-child(1):before {
    content: "Начало сеанса";
  }
  .timetable td:nth-child(2):before {
    content: "Название фильма";
  }
  .timetable td:nth-child(5):before {
    content: "Стоимость билета";
  }
  .timetable td:nth-child(6):before {
    content: "Заказать билет";
  }
  .timetable tr:last-child {
    border-collapse: collapse;
    overflow: hidden;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  .timetable__table-container {
    overflow: auto;
  }
  .benefits__benefit {
    float: right;
    width: 30%;
    margin: 0;
  }
  .benefits__container :nth-child(2) {
    margin-right: 5%;
    margin-left: 5%;
  }
  .present {
    height: 65vh;
  }
  .films__container {
    grid-template-columns: 1fr 1fr;
  }
  .empty_box {
    grid-column: auto;
    grid-row: auto;
  }
  .films__container :last-child {
      grid-column: auto;
  }
  .films__container :nth-child(3n) {
      grid-column: auto;
  }
  .film__box p {
    font-size: 1.2rem;
  }
  .film__social-icon {
    width: 3rem;
  }
  .film__social-icon svg {
    width: 3rem;
    height: 3rem;
  }
  form * {
    font-size: 1.4rem;
  }
  .contacts__text p {
    font-size: 1.3rem;
  }
}
@media (max-width: 650px) {
  p,
  .benefits p,
  .present__text p,
  .films p,
  .film__description,
  td {
    font-size: 1.3rem;
    line-height: 1.3em;
  }
  .benefits-container {
    clear: both;
  }
  .benefits__benefit {
    width: 100%;
  }
  .benefits__container :nth-child(2) {
    margin: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 1.9vw;
  }
  .header__logo-container {
    margin: 2rem;
  }
  .header__inno-logo {
    height: 3rem;
    width: auto;
  }
  .welcome {
    top: -20rem;
    width: 51.5rem;
  }
  .benefits__img-container,
  .benefits__img {
    height: 18rem;
  }
  .present__text {
    top: 10rem;
    right: 2rem;
    width: 90vw;
  }
  .films {
    padding-left: 2rem;
  }
  .films__container {
    grid-template-columns: 60%;
    justify-content: center;
  }
  .films h3 {
    font-size: 3rem;
  }
  .film__box {
    grid-column: 1 / 1; 
  }
  .contacts__icons {
    width: 25rem;
  }
  .contacts__icons svg {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 350px) {
  p,
  .benefits p,
  .present__text p,
  .films p,
  .film__description,
  .contacts p,
  td {
    font-size: 10px;
    line-height: 1.3em;
  }
}