/*General features*/
body {
    box-sizing: border-box;
    color: #fff; /*The most common by the elements*/
    font-family: 'Roboto', sans-serif;
}
*, 
*:before, 
*:after{
    box-sizing: border-box;
}
li {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
}
h1 {
    font-weight: 100;
    font-size: 80px;
}
h2 {
    color: #242424;
    font-weight: 700;
    font-size: 50px;
}
h3 {
    font-weight: 900;
    font-size: 35px;
}
p {
    color: #242424;
    font-weight: 300;
    font-size: 14px;
}
th {
    font-weight: 900;
    font-size: 30px;
}
td {
    font-weight: 400;
    font-size: 22px;
}
button { /*I'm not shure, that it is generalizable*/
    font-weight: 400;
    font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover { /*Functional requirement of 2.9.1 PD*/
    color: #90d23d;
}
figure { /*is not reseted*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
/*Specialization*/ 
/*Header, navigation*/
header {
    background-color: #242424;
    background: url(../images/background_1.jpg) no-repeat top center;   
    background-size: cover; 
    height: 100vh; 
    padding-top: 53px;
    margin-bottom: 78px;
    position: relative;
}
header::after,
.background-triangle {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 123px 100vw;
    border-color: transparent transparent #fff transparent;
}
.header__first-line {
    overflow: hidden;
}
.header__content {
    width: 1030px;
    height: inherit;    
    margin: 0 auto;
}
.header__inno-logo {
    float: left;
    width:190px;
    align-items: center; 
}
ul {
    list-style: none;
}
ul a:hover {
    border-bottom: 1px solid;
}
.header__first-line_right {
    margin-top: 15px;
    float: right;
}
.header__first-line_right * {
    display: inline-block;
    margin-right: 10px;
}
.header__location {
    position: relative;
}
.header__location::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.header__main-titles {
    clear: both;
    margin-top: 148px;
    text-align: center;
}
.header__subtitle {
    margin-top: 10px;
    font-weight: 400; 
    color: #fff;
}
/*Welcome*/
.welcome__container {
    position: relative;
    width: 1030px;
    margin: 0 auto;
}
.welcome {
    position: absolute;
    background-color: #fff;
    width: 514px;
    padding: 36px 60px 21px 31px;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    right: 0;
    top: -30vh;
    z-index: 2;
}
.welcome p {
    line-height: 17px;
    margin-bottom: 17px;
}
.welcome__header {
    font-size: 40px;
    margin-bottom: 32px;
}
/*Benefits*/
.benefits {
    overflow: hidden;
    width: 1040px;
    margin: auto;
    margin-bottom: 130px;
}
.benefits__header {
    margin-bottom: 122px;    
}
.benefits__container {
    width: 1030px;
    display: inline-block;
}
.benefits__benefit {
    float: left;
    margin-left: 66px;
    width: 29%;
    text-align: center;
}
.benefits__first-benefit {
    margin-left: 0;
}
.benefits__img-container {
    height: 211px;
    margin-bottom: 42px;
    position: relative;
}
.benefits__img {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
}
.benefits__img:hover {
    transform: scale(1.07);
}   
.benefits__benefit-name {
    color: #242424;
    margin-bottom: 20px;
    text-align: center;
}
.benefits p {
    line-height: 13px;
    margin-bottom: 66px;
}
/*Table*/
.timetable {
    max-width: 1030px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.timetable__header {
    margin: 0 0 77px 0;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}
th {
    height: 75px;
    text-align: center;
    vertical-align: middle;
}
/*Triangles*/
th::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-style: solid;  
    border-color: transparent;
}
th:nth-of-type(1)::after { /*To bottom direction*/
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #fff transparent;
}
th:nth-of-type(2)::after { /*To top direction*/
    border-width: 15px 10px 0 10px;
    border-color:#fff transparent transparent transparent;
}
/*Table colors*/
thead {
    background: #a3cc40;
}
tbody { /*Default*/
    background: #373737;
}
tbody tr:nth-of-type(2n) {
    background: #4b4d4f;
}
tbody tr:nth-of-type(3n) {
    background: #6c6c6c;
}
/*Table columns*/
td {
    padding-top: 30px;
    padding-bottom: 22px;
    vertical-align: top;
    word-break: break-word;
    text-align: center;
}
td:nth-of-type(1) {
    width: 270px;
    max-width: 270px;
}
td:nth-of-type(2),
td:nth-of-type(3) {
    width: 315px;
    max-width: 315px;
    text-align: left;
    word-spacing: 1px;
}
td:nth-of-type(4) {
    width: 130px;
    max-width: 130px;
    padding-top: 21px;
}
.timetable__plus-img {
    width: 33px;
    height: 33px;
}
.timetable__footer {
    margin: 40px auto;
    width: 830px;
    text-align: center;
}
/*Present*/
.present {  
    background-color: #000000;
    background: url(../images/background_2_3.png) no-repeat top center / cover;   
    background-size: cover; 
    height: 80vh; 
    margin-bottom: 91px;
    position: relative;
}
.present .background-triangle:first-child {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 121px 99vw 0 0;
    border-color:  #fff transparent transparent transparent;
}

.present__text-container {
    width: 1030px;
    margin: 0 auto;
    position: relative;
}
.present__text {
    position: absolute;
    width: 667px;
    right: 0;
    top: 149px;
    text-align: right;
    margin-bottom: 52px;
}
.present__icon {
    border-radius: 50%;
    background-color: #fbaf16;
    box-shadow: 10.5px 18.187px 12px 0 rgba(35, 31, 32, 0.55);
    position: absolute;
    left: 0;
    top: -66px;
    width: 330px;
    height: 330px;
    z-index: 2;
}
.present__text * {
    color: #fff;
}
.present__header {
    font-weight: 900;  
    margin-bottom: 60px;
}
.present__text p {
    line-height: 17px;
    margin-bottom: 15px;
}
.present__button {
    letter-spacing: 0.01px;
    margin-top: 22px;
    letter-spacing: 1px; 
    border-radius: 15px;
    border-width: 0;
    background-color: #90d23d;
    padding: 17px 20px 17px 33px;
}
/*Films*/
.films{
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.films__header {
    margin-bottom: 41px;
}
.films__text {
    margin-bottom: 80px;
    width: 680px;
}
.films__text p {
    line-height: 16px;
}
.films__container {
    width: 1030px;
    justify-content: space-between;
    background-color: #fff;
}
.film__box {
    position: relative;
    display: inline-block;
    width: 296px;
    height: 296px;
    margin-bottom: 37px;
    margin-right: 37px;
    background-color: #a3cc40;
    border-radius: 15px;
    overflow: hidden;
}
.film__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 100%;
    background: rgba(144, 210, 61, .8);
    transition: margin-top 0.2s linear;
    padding: 24px;
    word-break: break-word;
}
.film__content * {
    color: #fff;
}
.film__box:hover .film__content {
    margin-top: 0;
}
.film__hr {
    width: 80px;
    height: 6px;
    box-shadow: none;
    border: 0;
    margin: 14px 0 14px;
    background: #fff;
}
.film__description {
    font-weight: 500;
    font-size: 18px;
}
.film__social {
    position: absolute;
    left: 26px;
    bottom: 22px;
}
.film__social-icon {
    margin-left: 3px;
    display: inline-block;
    width: 33px;
}
/*Form*/
.form__container {
    width: 1366px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/*Map*/
.map {
    width: 1030px;
    margin: 0 auto;
}
.map__img {
    width: 1030px;
}
/*Contacts*/
.contacts__container {
    background-color: #90d23d;
    padding-bottom: 40px;
    padding-top: 58px;
}
.contacts {
    text-align: center;
    width: 1030px;
    margin: 0 auto;
}
.contacts__icons {
    margin-bottom: 29px;
    display: inline-block;
}
.contacts__icons a {
    display: inline-block;
    margin-left: 7px;
}
.contacts__icons a svg {
    display: inline-block;
    width: 50px;
}
.contacts p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}
/*SVG*/
.svg-icon {
    fill: #fff;
    filter: url(#drop-shadow);
    fill-rule: evenodd;
 }
 .svg-icon:hover {
    filter: none; 
 }
