@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

/* 
Thin            100     
Extra Light     200
Light           300
Regular         400
Medium          500
Semi-Bold       600
Bold            700
Black           900 
*/

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
html,
body,
blockquote,
a,
abbr,
em,
img,
strong,
tt,
var,
b,
u,
i,
tr,
td,
li,
ol,
ul,
dl,
dd,
dt,
button,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
footer {

    background: transparent;
    margin: 0;
    border: 0;
    outline: 0;
    /*outer border which doesn't change the size of the block*/
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /*Light*/
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

.ul__nav {
    list-style: none;
}

.li__nav {
    color: white;
    text-transform: uppercase;
    display: inline;
    margin: 0 0 0 15px;
    font-size: 15px;
    font-weight: 100;
}


/*Header, nav panel*/

.div__top-nav {
    border: 54 165 56 165px;
}

.div__top-nav-header {
    background-color: white;
    background-image: url(../images/Rectangle\ 2.png);
    width: 1366px;
    height: 769px;
}

.h1__header {
    font-size: 80px;
    font-weight: 100; /*Thin*/
    color: white;
    line-height: 1.2;
    text-align: center;
   /* width: 911.361px;
    height: 67.977px;*/
}

.h2__header {
    font-size: 50px;
    font-weight: 400; /*Regular*/
    color: white;
    line-height: 1.2;
    text-align: center;
   /* width: 698.212px;
    height: 52.233px;*/
}


.welcome_header{
    font-size: 40px;
    font-weight: 700; /*Bold*/
}
.section_header{
    font-size: 50px;
    font-weight: 700; /*Bold*/
}

.section_header_black{
    font-size: 50px;
    font-weight: 800; /*Black*/
}

.benefit-name{
    font-size: 35px;
    font-weight: 900; /*Black*/
}

/*Table*/

.movie-list {
    padding: 100px 0;
}

.movie-list__header {
    color: rgb(37, 37, 37);
    margin: 0 0 78px;
    text-align: center;
    line-height: 1.2;

}

.table-container {
    max-width: 1030px;
    margin: 0 auto;
    align-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

th, th>a{
    height: 72px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    vertical-align: center;
    color: #fff;
    line-height: 1.2;
}


th::after{
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-style: solid;  
    border-color: transparent;
}


th:nth-of-type(1)::after{ /*To bottom direction*/
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #ffffff transparent;
}


th:nth-of-type(2)::after{ /*To top direction*/
    border-width: 15px 10px 0 10px;
    border-color:#ffffff transparent transparent transparent;
}

thead>tr {
    background: #a3cc40;
}

tbody>tr:nth-of-type(1){
    background: #373737;
}

tbody>tr:nth-of-type(2n){
    background: #4b4d4f;
}

tbody>tr:nth-of-type(3n){
    background: #6c6c6c;
}

tbody>tr>td{
    padding-top: 26px;
    /* padding-bottom: 26px; */
    vertical-align: top;
    height: 75px;
    font-size: 22px;
    color: #fff;
    background: transparent;
    line-height: 1.2;
    font-weight: 400;
}

tr>td:nth-of-type(1){
    padding-left:0px;
    width: 250px;
    max-width: 250px;
    text-align: center;
}

tr>td:nth-of-type(2),
tr>td:nth-of-type(3){
    width: 325px;
    max-width: 325px;
    text-align: left;
    word-spacing: 1px;
}

tr>td:nth-of-type(4){
    width: 130px;
    max-width: 130px;
    align-content: center;
    vertical-align: center;
    padding: 21px 47px 0 47px;
    /* padding: auto; */
}

/* .plus_container{  */

 /* }     */

.movie-list__footer {
    margin: 40px auto;
    width: 860px;
    word-spacing: 1px;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
}

/*Table finished*/

/*Headers*/

.get_present_botton{
    font-size: 18px;
    font-weight: 400; /*Regular*/
}

.film-description{
    font-size: 18px;
    font-weight: 500; /*Medium*/
}

.film-title{
    font-size: 35px;
    font-weight: 900; /*Black*/
}